<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Youth Climate Panel</h2>
                </div>
            </div>
            <p>
              In recent years, young people have emerged as leaders in the fight against climate change and advocates for climate justice. Join us for a panel discussion with young climate activists, who will discuss the urgency of climate change, the experience of being a young activist, and challenges they see going forward. 
            </p>
        </div>
    </section>
